<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <registered_customers>
            <general>
                <enabled>0</enabled>
                <!--<schedule>* * * * *</schedule>-->
                <data>firstname,lastname,email</data>
                <email>registered_customers_general_email</email>
            </general>
            <schedule>
                <frequency>W</frequency>
            </schedule>
        </registered_customers>
    </default>
</config>