<?xml version="1.0"?>
<!--
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">

    <system>

        <section id="registered_customers" translate="label" type="text" sortOrder="500" showInDefault="1" showInWebsite="1" showInStore="1">

            <label>Registered Customers Email</label>
            <tab>customer</tab>
            <resource>Veni_RegisteredCustomersReport::settings</resource>

            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">

                <label>General</label>

                    <field id="enabled" translate="label comment" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                        <label>Enable</label>
                        <config_path>registered_customers/general/enabled</config_path>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    </field>

                    <field id="email" translate="label comment" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                        <label>Email template</label>
                        <source_model>Magento\Config\Model\Config\Source\Email\Template</source_model>
                        <!-- This model return all transactional email template list of magento -->
                    </field>

                    <field id="data" type="multiselect" translate="label" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                        <label>Customer data</label>
                        <config_path>registered_customers/general/data</config_path>
                        <source_model>Veni\RegisteredCustomersReport\Model\Config\Source\CustomerData</source_model>
                    </field>

            </group>

            <group id="schedule" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">

                <label>Cron settings</label>

                <field id="frequency" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Frequency</label>
                    <source_model>Magento\Cron\Model\Config\Source\Frequency</source_model>
                    <backend_model>Veni\RegisteredCustomersReport\Model\Config\Cron</backend_model>
                </field>

                <field id="time" translate="label comment" sortOrder="2" type="time" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Start Time</label>
                    <config_path>registered_customers/schedule/time</config_path>
                </field>

            </group>

            <group id="emails" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">

                <label>Email settings</label>

                <field id="sender_name" translate="label comment" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Sender name</label>
                    <config_path>registered_customers/emails/sender_name</config_path>
                </field>

                <field id="sender_email" translate="label comment" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Sender email</label>
                    <config_path>registered_customers/emails/sender_email</config_path>
                    <comment><![CDATA[ If you do not fill a sender email, the report will be sent on sales email address ]]></comment>
                </field>

                <field id="receiver_name" translate="label comment" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Receiver name</label>
                    <config_path>registered_customers/emails/receiver_name</config_path>
                </field>

                <field id="receiver_email" translate="label comment" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Receiver email</label>
                    <config_path>registered_customers/emails/receiver_email</config_path>
                    <comment><![CDATA[ If you do not fill a receiver email, the report will be sent on sales email address ]]></comment>
                </field>

            </group>

        </section>

    </system>

</config>